body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #FFC107;
    color: #333;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #FFC107;
    color: #333;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    color: #FFC107;
    margin-bottom: 10px;
  }
  
  section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  section li {
    width: 50%;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  section img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  
  footer {
    background-color: #FFC107;
    color: #333;
    padding: 20px;
    text-align: center;
  }
  